<<<<<<< HEAD
=======
.privacy-content{
    padding: 90px 0px; 
}
h2, h1{
    font-size: 32px;
    color: black;
     font-family: 'Manrope', sans-serif;
    font-weight: 700;
}
>>>>>>> 6672fbf44a5f521bc142c6afca8eb53cf7dfab8a
