.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end !important;
    align-items: center !important;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: #021229 !important;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}
.navbar-brand img {
    max-width: 196px;
}
.navbar-toggler{
   border:none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
    border:none !important;
}

/*ontent-detail*/
.content{
    background: linear-gradient(175.81deg, #CEEFE7 3.27%, rgba(246, 218, 121, 0.3) 70%, rgba(255,255,255,1) 90%);
    padding: 130px 0px; 
    height: 800px;
}
.main-content-wrapper{
    height: 60vh;
    position: relative;
}
.content-detail{
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}
.content-detail h6{
    font-size: 20px;
    color: #057D52;
    margin: 0px 0px 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}
.content-detail h1{
    font-size: 52px;
    color: #021229;
    margin-bottom: 8px;
    margin-top: 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}
.content-detail p{
    font-size: 20px;
    color: #42597A;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; 
}
.content-img img{
    position: absolute;
    right: 0;
    max-width:650px;
}
.contents-buttons ul{
    padding-left: 0px;
    margin: 0px;
    margin-top: 48px;
}
.contents-buttons ul li{ 
    list-style: none;
    display: inline-flex;
}
.contents-buttons ul li a{
    text-decoration: none;
}
.contents-buttons ul li a img{
    max-width: 170px;
    width: 100%;
}
/*ontent-detail*/
.key-feature{
    padding: 80px 0px;
}
.key-content{
    margin-bottom: 40px;
}
.key-content h2{
    font-size: 40px;
    color: #021229;
    margin-bottom: 8px;
    margin-top: 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}
.key-content p{
    color: #42597A;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}
.key-box{
    box-shadow: 0px 24px 40px 0px #233B3329;
    padding: 32px 24px;
    border-radius: 24px;
    margin-bottom: 24px;
}
.key-box h3{
 font-size: 28px;
 color: #021229;
 margin-bottom: 4px;
 margin-top: 0px;
 font-family: 'Manrope', sans-serif;
 font-weight: 700;
}
.key-box p{
 font-size: 20px;
 color: #42597A;
 font-family: 'Manrope', sans-serif;
 font-weight: 400;
}
.key-box img{
  max-width: 80px;
  width: 100%;
  margin-bottom: 16px;
}
.profiles-design img{
  max-width: 100%;
}

/*profiles-design*/
.profiles-design{
    padding: 90px 0px 0px;
    background-color: #CEEFE7;
}
.profile-keys{
    text-align: center;
    margin-bottom: 44px;
}
.profile-keys ul{
    padding-left: 0px;
    margin-bottom: 0px;
}
.profile-keys ul li{
    list-style: none;
    display: inline-flex;
    margin-right: 8px;
    font-size: 32px;
    color: #057D52;
     font-family: 'Manrope', sans-serif;
 font-weight: 600;
}
.profile-keys ul li svg{
    fill: #057D52 !important;
}
.keys-main-img img{
    max-width: 100%;
}

/*footer*/
.footer{
  padding: 24px 0px;
  background-color: #021229;
}
.footer-logo img{
  max-width: 170px;
}
.footer-buttons{
  text-align: center !important;
}
.footer-buttons ul{
  margin-top: 0px !important;
}
.footer-mail{
  text-align: right;
}
.footer-mail{
  height: 100%;
}
.footer-mail h5{
  height: 100%;
  font-size: 20px;
  color: white;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  margin: 0px !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/*footer*/

/*privacy content*/
.privacy-content{
    padding: 120px 0px;
}
.privacy-content p{
    font-size: 16px;
     font-family: 'Manrope', sans-serif;
  font-weight: 400;
}
.privacy-content p strong{
    font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

@media screen and (max-width: 992px){
    .content-img{
        margin-top: 40px;
    }
  .content-img img{
    position: relative !important;
    max-width: 100% !important;
    left: 10px;
}
.profile-keys ul li{
    font-size: 25px;
}
}
@media screen and (max-width: 768px){
    .profile-keys ul li{
    font-size: 22px;
}
    .content-detail h1{
        font-size: 32px;
    }
    .footer-logo{
        margin-bottom: 24px;
    }
    .footer-buttons{
        text-align: left !important;
        margin-bottom: 24px;
    }
    .footer-mail h5{
        justify-content: flex-start !important;
    }
    .contents-buttons ul li a img {
        max-width: 125px;
        width: 100%;
    }
    .key-content h2{
        font-size: 32px;
    }
    .key-content p {
        color: #42597A;
        font-size: 16px;
    }
    .key-box p{
        font-size: 16px;
    }
    .key-box h3{
        font-size: 22px;
    }
    .footer-mail h5{
        font-size: 16px;
    }
    .content {
        background: linear-gradient(175.81deg, #CEEFE7 3.27%, rgba(246, 218, 121, 0.1) 96.45%);
        padding: 130px 0px 80px;
    }
    .main-content-wrapper{
        height: 100% !important;
    }
    .content-detail {
    position: relative !important;
    transform: none !important;
    top: 0 !important;
    }
}
@media screen and (orientation: landscape){
    .content {
    padding: 130px 0px 110px;
}
  .main-content-wrapper{
        height: 100% !important;
    }
    .content-detail {
    position: relative !important;
    transform: none !important;
    top: 0 !important;
    }
}












